<li id="book-<%= book.id %>">
  <span class="title"><strong>Title:</strong> <%= book.title %></span><br>
  <span class="author"><strong>Author:</strong> <%= book.author %></span><br>
  <span class="genre"><strong>Genre:</strong> <%= book.genre %></span><br>
  <span class="status"><strong>Status:</strong> <%= book.status %></span><br>
  <span class="notes"><strong>Notes:</strong> <%= book.notes %></span><br>
  <span class="timestamp">
    Added <%= time_ago_in_words(book.created_at) %> ago.
  </span>
  <% if logged_in? && current_user == book.user %>
    <%= link_to "Delete", user_book_path(book.user, book), 
            method: :delete, 
            data: { confirm: "Are you sure?" }, 
            class: "btn btn-danger btn-sm" %>
  <% end %>
  

</li>


